/** @format */

.home-container {
  border: 1px solid rgb(218, 220, 224);
  width: 502px;
  border-radius: 5px;
  margin-left: 25px;
  margin-top: 25px;
  .label-container {
    display: flex;
    .timer {
      border-right: 1px solid rgb(218, 220, 224);
    }
    .underline {
      border-bottom: 3px solid rgb(26, 115, 232);
    }

    span {
      width: 50%;
      text-align: center;
      justify-content: space-between;
      border-bottom: 1px solid rgb(218, 220, 224);
      padding: 15px 10px;
    }
    :hover {
      color: grey;
    }
  }
}
